In [2]:
#Imports
import pandas as pd
import functions as func
import yaml

db_locations = func.import_yaml()

#load df
df_1 = pd.read_csv(db_locations['data_raw']['file1'])
df_2 = pd.read_csv(db_locations['data_raw']['file2'])

In [5]:
# Merge df_1 with df_2
df_user_comp = pd.concat([df_1, df_2], axis=1).reindex(df_1.index)
df_user_comp

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,client_id,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,9988021,Test
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,8320017,Test
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,4033851,Control
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,1982004,Test
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,9294070,Control
...,...,...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0,2443347,NaN
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0,8788427,NaN
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0,266828,NaN
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0,1266421,NaN
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,9895983,NaN